* {
  box-sizing: border-box;
  margin: 10px 5px;
}

.banner {
  position:relative;
  background-image: url(../img/berlino.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
